@import "src/Styles/Global.scss";

.expandBtn {
    margin-top: 5vh;
    cursor: pointer;
    background-color: rgba(33, 64, 154, 1);
    padding: .8rem 0rem;
    color: white;

    font-size: 1.125rem;
    font-family: $anchor-font-family;
}