@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,600,700|Philosopher:700');


$header-font-family: 'Philosopher',
sans-serif;
$anchor-font-family: 'EB Garamond',
serif;


// 1. Structure that all project should have
html,
body {
  background-color: #F9F9F9;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: $header-font-family;
  line-height: 90%;
  letter-spacing: -0.1rem;
  font-weight: 700;
  font-size: 2.25rem;
}

h2 {
  font-family: $header-font-family;
  line-height: 1.5rem;
  letter-spacing: -.5px;
  font-weight: 700;
  font-size: 1.4375rem;

}

h3 {
  font-family: $anchor-font-family;
  // letter-spacing: 2px;
  line-height: 1.6875rem;
  font-size: 1.414rem;
}

span,
p {
  font-family: $anchor-font-family;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 2%;
}

small,
.font_small {
  font-family: $anchor-font-family;
  font-size: 0.707rem;
  color: #333;
}

button,
input {
  border: 0;
}

// Text paragraph indentation
p+p {
  text-indent: 1.5rem;
}

p {
  margin: 0 auto;
}

blockquote p {
  hanging-punctuation: first;
}

ul,
ol {
  padding-left: 0;
  list-style-position: outside;
}


$theme-color: rgba(33, 64, 154, 1);
$theme-accent:rgba(17, 17, 17, 1);

.text-blue {
  color: $theme-color;
}

.text-black {
  color: $theme-accent;
}

.fullWidth {
  width: 100%;
  height: auto;
}

.rounded {
  border-radius: .125rem;
}

@mixin for-size($range) {
  $phone-upper-boundary: 600px;
  $tablet-portrait-upper-boundary: 900px;
  $tablet-landscape-upper-boundary: 1200px;
  $desktop-upper-boundary: 1800px;

  @if $range==phone-only {
    @media (max-width: #{$phone-upper-boundary - 1}) {
      @content;
    }
  }

  @else if $range==tablet-portrait-up {
    @media (min-width: $phone-upper-boundary) {
      @content;
    }
  }

  @else if $range==tablet-landscape-up {
    @media (min-width: $tablet-portrait-upper-boundary) {
      @content;
    }
  }

  @else if $range==desktop-up {
    @media (min-width: $tablet-landscape-upper-boundary) {
      @content;
    }
  }

  @else if $range==big-desktop-up {
    @media (min-width: $desktop-upper-boundary) {
      @content;
    }
  }
}

#id {

  // </599px
  @include for-size(phone-only) {}

  // >/600px
  @include for-size(tablet-portrait-up) {}

  // >/900px
  @include for-size(tablet-landscape-up) {}

  // >/1200px
  @include for-size(desktop-up) {}

  // >/1800px
  @include for-size(big-desktop-up) {}
}