@import "src/Styles/Global.scss";

#projectGrid {
    display: grid;
    background-color: rgba(33, 64, 154, .05);



    // </599px
    @include for-size(phone-only) {
        padding: 10% 8.5%;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(4, 1fr);
    }



    // >/600px
    @include for-size(tablet-portrait-up) {
        padding: 10% 8.5%;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, 1fr);
    }

    // >/900px
    @include for-size(tablet-landscape-up) {
        padding: 8.5% 10%;
        // TODO:Fix the padding ratio of the box
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(2, 1fr);
    }


    .projectImg {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
    }
}