@import "src/Styles/Global.scss";

.section {
    width: 100%;
    display: grid;
    // grid-template-columns: repeat(2, 49%);
    // grid-column-gap: 2%;
    margin-bottom: 3.125rem;


    // </599px
    @include for-size(phone-only) {
        grid-row-gap: 1.5rem;
    }

    // >/600px
    @include for-size(tablet-portrait-up) {
        grid-row-gap: 1.5rem;
    }

    // >/900px
    @include for-size(tablet-landscape-up) {
        grid-template-columns: repeat(2, 49%);
        grid-column-gap: 2%;
    }

    &__head {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__header {
            text-transform: uppercase;
            margin-bottom: .75rem;
        }

        &__caption {
            max-width: 65%;
        }
    }

    &__body {}
}