@import "src/Styles/Global.scss";

.ctaBar {

    // </599px
    @include for-size(phone-only) {
        display: none;
    }

    // >/600px
    @include for-size(tablet-portrait-up) {
        display: none;
    }

    // >/900px
    @include for-size(tablet-landscape-up) {
        margin: 5rem 0;
        width: 100%;
        height: 3rem;
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;

        &__left {

            background-color: rgba(33, 64, 154, .1);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

        }

        &__right {
            height: 100%;

            &__button {
                cursor: pointer;
                height: 100%;
                background-color: rgba(33, 64, 154, 1);
                padding: 0 3.5rem;
                color: white;

                font-size: 1.125rem;
                font-family: $anchor-font-family;
            }
        }
    }


}