@import "src/Styles/Global";

.nav {
  margin-top: 3.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__cont {
    display: flex;
    align-items: center;

    &__leftLogo {
      width: 3.75rem;
      height: 5rem;

      @include for-size(phone-only) {
        width: 2rem;
        height: 2.6rem;
      }
    }

    &__rightLogo {
      width: 1.75rem;

      @include for-size(phone-only) {
        width: 1.2rem;
      }
    }
  }

}