@import "src/Styles/Global.scss";

$theme-color: rgba(33, 64, 154, 1);
// $theme-color: #21409a;

.projectGrid {
    display: grid;
    grid-row-gap: 3rem;

    // >/600px
    @include for-size(tablet-portrait-up) {
        grid-template-columns: repeat(2, 49%);
        grid-auto-rows: 1fr;
        grid-column-gap: 2%;
    }

    // >/900px
    @include for-size(tablet-landscape-up) {
        grid-template-columns: repeat(3, 32%);
        grid-auto-rows: 1fr;
        grid-column-gap: 2%;
    }

    &__container {
        &__imgContainer {
            border: .2rem solid $theme-color;
            // box-sizing: border-box;
            box-sizing: border-box;
            background-color: $theme-color;



            &__img {}

            &__pjTag {
                // height: 100%;
                box-sizing: border-box;
                // border-top: .2rem solid $theme-color;
                text-align: center;
                padding: .5vh;
                background-color: $theme-color;
                color: white;
            }
        }

        &__header {
            font-weight: 600;
            margin-top: 1.414rem;
            margin-bottom: .505rem;
        }

        &__body {
            margin-bottom: .505rem;
        }

        &__extLinkContainer {
            .icon {
                fill: $theme-color;
            }

            text-decoration: none;

            span {
                color: $theme-color;
                margin-left: .505rem;
                text-decoration: underline;
                font-weight: 600;
            }
        }
    }
}