@import "src/Styles/Global.scss";

footer {

    // </599px
    @include for-size(phone-only) {
        margin-top: 5vh;
    }

    // >/600px
    @include for-size(tablet-portrait-up) {
        margin-top: 5vh;
    }

    .footContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 2rem 0;

        &__social {
            display: flex;
            flex-direction: row;

            &__iconContainer {
                &__icons {
                    margin-right: 1rem;
                    width: 1.375rem;
                }
            }

            &__text {

                // </599px
                @include for-size(phone-only) {
                    display: none;
                }

                // >/600px
                @include for-size(tablet-portrait-up) {
                    display: none;
                }

                // >/900px
                @include for-size(tablet-landscape-up) {
                    display: inline;
                }
            }
        }
    }
}