@import "src/Styles/Global.scss";

.pageContainer {
    margin: auto;
    max-width: 960px;


    // </599px
    @include for-size(phone-only) {
        padding: 0 10%;
    }

    // >/600px
    @include for-size(tablet-portrait-up) {
        padding: 0 10%;
    }

    // >/1200px
    @include for-size(desktop-up) {
        padding: 1%;
    }


}