@import "src/Styles/Global.scss";

.aboutMe {
    width: 100%;
    margin-bottom: 3.125rem;


    // </599px
    @include for-size(phone-only) {
        display: block;
    }

    // >/600px
    @include for-size(tablet-portrait-up) {
        display: block;
    }

    // >/900px
    @include for-size(tablet-landscape-up) {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        grid-column-gap: 2%;
    }

    &__head {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__container {

            // </599px
            @include for-size(phone-only) {
                margin-bottom: 1.5rem;
            }

            // >/600px
            @include for-size(tablet-portrait-up) {
                margin-bottom: 1.5rem;
            }

            &__header {
                text-transform: uppercase;
                margin-bottom: .75rem;
            }

            &__caption {
                max-width: 65%;
            }
        }
    }

    &__body {}
}